<!--
 - Created by Bidzis on 12/12/2017.
 -->

<apex:page id="InsertAccounts" sideBar="false" controller="InsertAccountsController">
    <apex:actionStatus id="progressStatus" layout="block">
        <apex:facet name="start">
            <c:ProgressSpinner />
        </apex:facet>
    </apex:actionStatus>
    <html>
    <head>
        <meta charset="UTF-8"/>
        <style>
            .delete-button {
                margin-top: 18px;
            }

            .msgIcon {
                display: none !important
            }

            .customMessage * {
                color: #fff !important
            }

            .customMessage {
                margin: 5px 0 !important;
                /*max-width: 1280px;*/
                opacity: 1 !important;
                width: 100%;
                font-size: 12px;
                border: 0px;
                padding-left: 10px;
            }

            .message {
                opacity: .1
            }
            .error{ border:1px solid red !important;}
            .error_field_message {
           		color: red;
    			margin-left: -10px;
            }
        </style>
        <apex:slds />
    </head>
    <body>
    <div class="slds-scope">
        <div class="slds-grid">
            <div class="slds-col slds-size--1-of-1">
                <apex:pageMessages />
            </div>
        </div>
        <div class="slds-grid">
            <div class="slds-col slds-size--1-of-12"></div>
            <div class="slds-col slds-size--10-of-12">
                <apex:form >
                    <div class="slds-grid">
                        <div class="slds-col slds-size--1-of-1">
                            <apex:commandLink styleClass="slds-button slds-button--brand slds-float_right"
                                              value="Save Accounts"
                                              action="{!saveAccounts}"
                                              status="progressStatus"/>
                        </div>
                    </div>
                    <div class="slds-grid">
                        <apex:outputPanel styleClass="slds-col slds-size--1-of-1" id="accounts-to-insert">
                            <apex:repeat value="{!iterator}" var="i">
                                <div class="slds-grid">
                                    <div class="slds-col slds-size--11-of-12">
                                        <div class="slds-grid slds-grid--pull-padded">
                                            <div class="slds-col--padded slds-size--1-of-4">
                                                <apex:outputLabel styleClass="slds-form-element__label"
                                                                  value="Custom Id"/>
                                                <!--<div class="slds-form-element__control">-->
                                                <apex:inputText styleClass="slds-input customId"
                                                                value="{!accountsToInsert[i].customId}"/>
                                                <!--</div>-->
                                            </div>
                                            <div class="slds-col--padded slds-size--1-of-4">
                                                <apex:outputLabel styleClass="slds-form-element__label" value="Name"/>
                                                <span class="error_field_message">*</span>
                                                <!--<div class="slds-form-element__control">-->
                                                <apex:inputText styleClass="slds-input account_name"
                                                                value="{!accountsToInsert[i].name}"/>
                                                <!--</div>-->
                                            </div>
                                            <div class="slds-col--padded slds-size--1-of-4">
                                                <apex:outputLabel styleClass="slds-form-element__label"
                                                                  value="Phone number"/>
                                                <!--<div class="slds-form-element__control">-->
                                                <apex:inputText styleClass="slds-input"
                                                                value="{!accountsToInsert[i].phone}"/>
                                                <!--</div>-->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slds-col--padded slds-size--1-of-12">
                                        <apex:commandLink styleClass="slds-button slds-button--destructive slds-float_right delete-button"
                                                value="Delete"
                                                action="{!deleteAccountFromAccountsToInsert}"
                                                rendered="{!IF(i = 0 && iterator.size = 1, false, true)}"
                                                reRender="accounts-to-insert"
                                                status="progressStatus">
                                            <apex:param name="currentIndex" value="{!i}"/>
                                        </apex:commandLink>
                                    </div>
                                </div>
                            </apex:repeat>

                        </apex:outputPanel>
                    </div>
                    <div class="slds-grid">
                        <div class="slds-p-vertical_small">
                            <apex:commandLink styleClass="slds-button slds-button--brand slds-float_right"
                                              value="Add new account" status="progressStatus"
                                              action="{!addNewAccountToInsert}" reRender="accounts-to-insert"/>
                        </div>
                    </div>
                </apex:form>
            </div>
            <div class="slds-col slds-size--1-of-12">

            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            overridePageMessages();
        });

        function overridePageMessages() {
            var textureEffect = '';

            $('.warningM3').addClass('slds-notify slds-notify--toast slds-theme--warning customMessage ' + textureEffect);
            $('.confirmM3').addClass('slds-notify slds-notify--alert slds-theme--success  customMessage ' + textureEffect);
            $('.errorM3').addClass('slds-notify slds-notify--alert slds-theme--error customMessage ' + textureEffect);
            $('.infoM3').addClass('slds-notify slds-notify--toast customMessage ' + textureEffect);

            $('.errorM3').removeClass('errorM3');
            $('.confirmM3').removeClass('confirmM3');
            $('.infoM3').removeClass('infoM3');
            $('.warningM3').removeClass('warningM3');
            getErrorMessage();
        }
        function getErrorMessage() {
        	var errorMessagge = document.getElementsByClassName('customMessage')[0];
       		if(errorMessagge === undefined) {
       			return;
       		}
        	var rowsOfErrorMessage = errorMessagge.getElementsByTagName('li');
        	console.log(rowsOfErrorMessage);
        	if(rowsOfErrorMessage.length === 0) {
        		rowsOfErrorMessage = document.getElementsByClassName('messageText');
        	}
        	for(var j=0; j < rowsOfErrorMessage.length; j++){
	        	if(errorMessagge.innerText.indexOf('Custom Id') !== -1) {
		        	var startID = rowsOfErrorMessage[j].innerText.indexOf('(');
		        	var endID = rowsOfErrorMessage[j].innerText.indexOf(')');
		        	var CustomID = rowsOfErrorMessage[j].innerText.substring(startID + 1, endID);
		        	var customIDInputs = document.getElementsByClassName('customId');
		        	for(var i=0; i < customIDInputs.length; i++) {
		        		if(customIDInputs[i].value === CustomID) {
		        			customIDInputs[i].classList.add("error");
		        		}
		        	} 
	        	}
	        	var accountNameInputs = document.getElementsByClassName('account_name');
	        	
	        	for(var i=0; i < accountNameInputs.length; i++) {
	        		if(accountNameInputs[i].value === '') {
	        			accountNameInputs[i].classList.add("error");
	        		}
	        	}
	        	
        	}
        }
        
    </script>
    </body>
    </html>
</apex:page>